/*@font-face {
    font-family: 'Anonymous Pro';
    font-style: normal;
    src: url(fonts/AnonymousPro-Regular.ttf) format('truetype');
}*/

* {
    font-family: "Anonymous Pro";
}
body {
    background-color: rgb(44, 44, 171);
}

main {
    padding: 1em;
    background-color: ghostwhite;
}

/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {
    main {
        margin-left: 20em;
        margin-right: 20em;
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}